DB_USER=postgres
DB_NAME=teslo-shop
DB_PASSWORD=postgres

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#DATABASE_URL="postgresql://postgres:postgres@localhost:5432/teslo-shop"
DATABASE_URL="postgres://default:fWFh3sTrqm7E@ep-patient-fog-a4uf7rkt.us-east-1.aws.neon.tech:5432/verceldb"

# openssl rand -base64 32
AUTH_SECRET="uz85PVZ6TcXuLyjUWT8U2tjYCo3p4LrNRGBLPnv71ac="

# Paypal
# https://developer.paypal.com/dashboard/applications/edit/SB:QVEyX2VFY0dIcW9hNkNuaUNEQXJyeFh5WDNmVVdyTnRvbXRwS211Q2cxS1Y3UGlwbVU3ckJiSW9qWXBfSTFyZjNaSTZwSUtnRTRPOUVtWXE=
# sb-43fkit33440689@personal.example.com
# )1K9>Vr5
NEXT_PUBLIC_PAYPAL_CLIENT_ID="AQ2_eEcGHqoa6CniCDArrxXyX3fUWrNtomtpKmuCg1KV7PipmU7rBbIojYp_I1rf3ZI6pIKgE4O9EmYq"

PAYPAL_SECRET="EMVmLm2jSh-Ims89-qk-0u5RBoz7EVt6wbfI1ETtrGcCxUPs8bPy3zuIRUo2PEDGZdHRHSZ5-HN0QIOz"

# POST
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token

#GET
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders

# CLoudinary = https://console.cloudinary.com/pm/c-ac235feb1664b196b13917750efd93/getting-started
CLOUDINARY_URL=cloudinary://195851465278434:t7QgFRdBBNxuOX4LBxJyVi-HEHI@dvppupy82